*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a { color:rgb(255, 255, 255) } 

/* override */
a:visited { text-decoration: none; color:rgb(255, 255, 255); }
a:hover { text-decoration: none; color:rgb(255, 255, 255); }
a:focus { text-decoration: none; color:rgb(255, 255, 255); }
a:hover, a:active { text-decoration: none; color:rgb(255, 255, 255) }
a:link {text-decoration: none;}
  

.container{
    width: 100%;
    height: 100%;
    font-size: large;
    background: #1a1919;
}

.menu ul{
    display: inline-flex;
    margin: 50px;   
}

.menu ul li{
    list-style: none;
    margin: 0 20px;
    color: #ffffff;
    cursor: pointer;
}

.logo img{
    width: 30px;
    margin-top: -7;
    margin-right: 48px;
}
.active{
    color: #45b6ca !important;
}

.banner {    
    width: 80%;
    height: 70%;
    top: 200px;
    left: 130px;
    position: absolute;
    color: #ffffff;

}

img {
    max-width: 100%;
    height: auto;
  }
  
.app-text {
    font-size: large;
}

.app-text h1{
    color: #ffffff;
}
.app-text p{
    color: #b1acac
}

.mainbutton{
    margin-top: 10px;
    background-color: #0095ff;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    outline: none;
    padding: 8px .8em;
    width: 250px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}
.mainbutton:hover,
.mainbutton:focus {
  background-color: #07c;
}

.mainbutton:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.mainbutton:active {
  background-color: #0064bd;
  box-shadow: none;
}
